/* Estilos para el cuerpo */
html, body {
    height: 100%;
  }
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin: 0;

  }
  
  /* Estilo de los títulos */
  h1, h5 {
    color: #007bff;
  }
  h2 {
    color: #007bff;
  }
  
  /* Estilo de las tarjetas */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  /* Estilo de las tarjetas (cards) */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  footer {
    background-color:#003A70;
    color: #f5f7fa;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    border-top: 5px solid #EFB810;
    font-size: 1rem;
}
.my-custom-btn {
  color: black;               /* Letras negras */
  background-color: rgb(153, 151, 151);     /* Fondo gris */
  width: auto;                 /* Ancho al 100% del contenedor */
  padding: 0.25rem;          /* Espaciado interno (arriba-abajo, izquierda-derecha) */
  border: none;                /* Sin borde */
  border-radius: 5px;          /* Bordes redondeados */
  font-size: 1rem;             /* Tamaño de la fuente */
  text-align: center;          /* Centrar el texto */
  cursor: pointer;            /* Cambiar el cursor a pointer para que sea clickeable */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de fondo */
}
.my-custom-btn:hover {
  background-color: #A0A0A0;  /* Fondo gris más claro */
}
.custom-title{
  color: #003A70; /* Cambia este código de color según lo necesites */
}
.footer-image {
  width: 7%;
}
.card-Taller{
  background-color: rgb(232, 228, 228)
}
.footer-content {
  display: flex;
  justify-content: space-around;
}
.divide {
  display: flex;
  justify-content: space-between;
}

  .custom-navbar {
    background-color: #003A70; /* Color de fondo personalizado */
    border-bottom: 4px solid #EFB810; /* Borde inferior */
}
.custom-link {
  color: white; /* Letras blancas */
  transition: background-color 0.3s ease, color 0.3s ease; /* Suaviza la transición */
}

.custom-link:hover, 
.custom-link:focus {
  background-color: rgb(160, 142, 48); /* Fondo al pasar el ratón */
  color: white; /* Asegura que el texto siga siendo blanco */
}

.custom-link.active {
  background-color: rgb(160, 142, 48); /* Fondo al estar seleccionado */
  color: white; /* Texto blanco */
}
.logo-rounded {
    height: 80px; /* Altura de la imagen */
    width: 80px;  /* Ancho de la imagen */
    border-radius: 50%; /* Hace la imagen redonda */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}
  .container {
    flex: 1;
  }
  /* Estilo para limitar el tamaño del carrusel */

  .carousel-item img {
    max-height: 100%; 
    object-fit: cover; 
    max-width: 100%; 
  }
  .custom-map-container {
    max-width: 500px; /* Ajusta el tamaño máximo del contenedor */
    border: 1px solid black; /* Borde negro de 1px */
    border-radius: 10px;
    margin: 0 auto; /* Centra horizontalmente */
  }
  
  .custom-map-frame {
    border-radius: 5px; /* Bordes redondeados opcional */
  }
  #location-description {
    text-align: left; /* Alinea todo el texto del <p> a la izquierda */
  }
  
  #location-description strong {
    display: inline-block; /* Hace que los <strong> se comporten como bloques para alinear mejor */
    margin-right: 10px; /* Opcional: Agrega espacio después del texto fuerte */
  }
   
  /* Ajuste adicional para imágenes más pequeñas en pantallas móviles */
  @media (max-width: 768px) {
    .carousel-item img {
      max-height: 300px; /* Reduce la altura máxima en pantallas pequeñas */
    }
  }
  
  /* Responsive - Tarjetas ajustables */
  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 680px) {
    .form{
        padding: 5%;
    }
    
  }
  @media (max-width: 680px) {
    .form{
        padding: 5%;
    }
    .footer-image {
        width: 30%;
    }
    .text-footer {
        display: flex;
        flex-direction: column;
        /* text-align: center; */
    }
    .divide{
        display: block;
    }
    .divide p {
        text-align: center;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .color-item {
        width: 70%; 
    }
    .text-footer p{
        text-align: center;
    }
  }

  